import * as React from 'react';
import { Container, Title } from './styles/{{camelCase name}}';

const {{pascalCase name}} = ({ children, ...restProps }: React.HTMLAttributes<HTMLElement>) => {
  return <Container {...restProps}>{children}</Container>;
};

{{pascalCase name}}.Title = ({ children, ...restProps }: React.HTMLAttributes<HTMLElement>) => {
  return <Title {...restProps}>{children}</Title>;
};

export default {{pascalCase name}};
