import * as React from 'react';
import { FC } from 'react';

interface IProps {}

const {{pascalCase name}}Container: FC<IProps> = (props: IProps) => {
  return (
    <h1>Container: {{pascalCase name}}</h1>
  );
};

export default {{pascalCase name}}Container;
