import * as React from 'react';
import { FC, useEffect } from 'react';

interface IProps {}

const {{pascalCase name}}: FC<IProps> = (props: IProps) => {

  useEffect(() => {
    const init = () => {};

    init();
  }, []);

  return (
    <h1>Page: {{pascalCase name}}</h1>
  );
};

export default {{pascalCase name}};
